.aud {
  display: grid;
  grid-template-columns: 290px 32px;
  align-items: center;
  justify-content: center;

  &_double {
    grid-template-columns: 145px 145px 32px;
  }

  &:last-child {
    cursor: pointer;
  }
}

.icon {
  text-align: center;
}