.App {
  height: 100%;
  // text-align: center;

  &__container {
    height: 100%;
    margin: 50px 260px;
  }
}

.tables__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  //display: grid;
  //grid-template-rows: auto;
  //gap: 30px;
}
