.paper {
  margin-bottom: 80px;
}

.tabs {
  max-width: 1400px;
  margin: 0 auto;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
}

.arrow > img {
  width: 24px;
  height: 24px;
}
