.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 100;
    background-color: #fff;
}

.buttons {
    display: grid;
    gap: 20px;
    grid-template-columns: 132px 142px;
    grid-template-rows: 36px;
}