.caption {
  display: grid;
  grid-template-columns: 205px 412px;
  grid-template-rows: 42px;
  align-items: center;

  &_h {
    height: 100%;
  }
}

.table {
  width: 100%;
  background-color: #f0f0f0;
}

.tr, .td {
    // border: #D2D2D2 1px solid
}
