.tr,
.td {
  border: #d2d2d2 1px solid;
}

table {
  border-collapse: collapse;
}

.td {
  padding: 4px;
}

.tr,
.td {
  background-color: #ffffff;
}

.td:first-child {
  padding: 10px 16px;
  text-align: center;
}

.td:nth-child(2) {
  padding: 10px;
  white-space: nowrap;
  text-align: right;
}

.td:nth-child(3) {
  padding: 10px 0;
}

.td__dobule {
  padding: 4px;
  background-color: #ffffff;
  border: 1px solid #D2D2D2;
  border-top: none;
  border-top-style: hidden;
}
